*{
  margin: 0px;
  padding: 0px;
  font-family: 'Nunito', sans-serif, var(--light);
}

*, html {
  --primaryGradient: linear-gradient(93.12deg, #581B98 0.52%, #9C1DE7 100%);
  --secondaryGradient: linear-gradient(268.91deg, #581B98 -2.14%, #9C1DE7 99.69%);
  --primaryBoxShadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
  --secondaryBoxShadow: 0px -10px 15px rgba(0, 0, 0, 0.1);
  --light: 300;
  --regular: 400;
  --semiBold: 600;
  --extraLight: 300;
  --italic: 300;
  --primary:#7B68EE;
}

html{
 scroll-behavior: smooth;
}

body{
  padding: 16px;
  width: 90%;
}

.boxhome{
  border-width: 0.1px;
  border-style:solid;
  border-radius: 8px;
  border-color: #7B68EE;
  padding:10px ;
  margin-top: 20px;
}

.div_logo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
}

.logo{
  width: 95px;
  right: 95px;
  border-radius: 50px;
} 

.p_logo{
  font-family: 'Nunito', sans-serif, var(--semiBold);
  margin-top: 8px;
  font-size: 15px;
  color:var(--primary) ;
}

.div_baner{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.baner{
  width: 340px;
  right: 300px;
  border-radius: 8px;
} 

.apresentacao{
  margin: 8px;
  margin-top: 20px;
}

h1{
  color: var(--primary);
  font-size: 20px;
  margin-bottom: 8px;
}

h2{
  color: var(--primary);
  font-size: 20px;
  margin-bottom: 8px;
  margin-top: 20px;
  margin-left: 2px;
}

.txt_apresentacao{
  color: dimgray;
}

.container_servico{
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
  width: 97%;
}

.div_servico{
  padding: 4px;
}

.img_servicos{
  width: 100%;
  right: 100%;
}

.div-p-servico{
  display: flex;
  justify-content: center;
  text-align: center;
}

.p_servico{
  color: var(--primary);
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  font-family: 'Nunito', sans-serif, var(--semiBold);
}

.txt_lista_titulo{
  color: var(--primary);
}

.txt_lista_servico{
  color: var(--primary);
  padding-right:18px;
}

.txt_lista_valor{
  color: var(--primary);
  padding-left: 15px;
  padding-right: 10px;
}

.txt_lista{
  color: var(--primary);
  border-width: 0.1px;
  border-style:solid;
  border-radius: 6px;
  padding:4px;
  text-align: center;
  border-spacing: 8px;
}

.tabela1{
  display: flex;
  flex-direction: column;
  border-collapse: separate; 
  border-spacing: 24px;
  width: 100%;
  height: 100%;
}

.tabela2{
  display: flex;
  flex-direction: column;
  border-collapse: separate; 
  border-spacing: 6px;
  margin: 0 0 0 0;
  width: 100%;

}

.div_tabela2{
  display: flex;
  margin-left: auto;
  margin-right: auto;
}


.tabela3{
  display: flex;
  flex-direction: column;
  border-collapse: separate; 
  border-spacing: 8px;
  margin: 0 0 0 0;
  width: 100%;
}


.txt_lista3{
  color: var(--primary);
  border-width: 0.1px;
  border-style:solid;
  border-radius: 6px;
  padding:12px;
  text-align: center;
  border-spacing: 8px;
}

.div_tabela3{
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.div_tabela1{
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.linha{
  border-top-color:dimgray;
  border: 0.5px;
  border-style:solid;
  margin-top: 20px;
  opacity: 0.1;
}

h3{
  color: var(--primary);
  font-size: 16px;
  margin-bottom: 8px;
  margin-top: 20px;
  margin-left: 2px;
}

.redes{
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-top: 20px;
}

.icom{
  width: 35px;
  right: 35px;
  border-radius: 50px;
  margin-top: auto;
} 

.picom{
  color:var(--primary);
  margin-top:20px;
  font-size: 18px;
  margin-left: 8px;
}

.facebook{
  display: flex;
  flex-direction: row;
  margin-right: 16px;
  border-width: 0.1px;
  border-style:solid;
  border-radius: 8px;
  border-color: #7B68EE;
  padding:10px ;
}

.txtrodape{
  display: flex;
  color:var(--primary);
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
}
